SWEET JESUS DEFINITELY DO FIRST:
- FUNCTIONS.

DEFINITELY DO:
- First Big Goal: Trim down to only the code you're actually using now
  - "To add code is human, to remove code is divine"
  - Delete all OLD CODE comments
    - You have them in git anyway
    - The interface might change
  - Delete empty/useless/scaffolded files (games.js.coffe, etc.)

PROBABLY DO:
- Cleanup JS stuff
  - Move all of the level-defining js into files in app/assets/javascripts
  - Use template-specific (.html.erb) script tags to run that code
    - <script type="text/javascript" src="/assets/level2.js"></script>

- Get even javascriptier    
  - Maybe experiment with document.pushState() to simulate users making new web requests
    without actually hitting Rails again. That way you can do it without any templates
    at all

- Maybe store images as JSON object at the top of each file or something


MAYBE BONUS NICE-TO-HAVE:
- Google around for "rails json bootstrap" (putting JSON inline)

=======
Keyan's To Do List:

Fix crosshair


* = completed

*Add new branches to level one
*Add new fly to level one web
*Organize images at beginning of each level
*Remove birdfriend images that are not used

Level three shit

*Create function for platform "ledge" on top of logs in level 3
*Create function for flies
*Fix animations so flies face correct way
*Fix animations on bird flaps
*Fix frog size after falling in water
*Fix frog from falling when increasing size while standing
*Fix bug where water disappears after frog falls in
*Change level three to require only three flies
*Make bird animation seem like facing downwards towards frog

