/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 canvas {
   display: block;
   margin-top: 10px;
   margin-left: 230px;
   overflow: hidden;
   height: 600px;
}

.info {
   display: block;
   position: absolute;
   margin-top: 100px;
   margin-left: 230px;
}

.blurb {
   z-index: 1;
   display: block;
   position: absolute;
   margin-top: 25px;
   margin-left: 650px;
}

.picture {
   z-index: 1;
   display: block;
   position: absolute;
}

.logo {
   margin-top: 575px;
   margin-left: 320px;
   width: 600px;
}

.web {
   margin-top: -10px;
   margin-left: -10px;
   width: 270px;
}

.spider {
   z-index: 2;
   margin-top: -90px;
   margin-left: 130px;
   width: 150px;
}

.spider2 {
   z-index: 2;
   margin-top: -10px;
   margin-left: 73px;
   width: 100px;
}

.frog {
   margin-top: 500px;
   margin-left: -10px;
   width: 275px;
}

.rock {
   z-index: -1;
   margin-top: 695px;
   margin-left: -50px;
   width: 350px;
}

.fly {
   z-index: -1;
   margin-top: 355px;
   margin-left: 110px;
}

.bird {
   margin-top: 10px;
   margin-left: 960px;
   width: 300px;
}

.bird1 {
   margin-top: -15px;
   margin-left: 945px;
   width: 250px;
}

.crosshair {
   z-index: 2;
   margin-top: 85px;
   margin-left: 1000px;
   width: 200px;
}

.beetle {
   z-index: 2;
   margin-top: 340px;
   margin-left: 1100px;
}

.branch {
   margin-top: 400px;
   margin-left: 900px;
   width: 500px;
}

body {
   /*background-image: url('/images/background.png');*/
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: RGBA(170, 201, 212, 1);
   margin-top: 10px;
   text-align: center;
}

