@import "http://fonts.googleapis.com/css?family=Droid+Serif";
/* Above line is used for online google font */
h2 {
  text-align:center;
  font-size:24px
}
hr {
  margin-bottom:30px
}
p {
  color:#000;
  font-size:16px;
  font-weight:700
}
#button {
  border:1px solid #0c799e;
  width:250px;
  padding:10px;
  font-size:16px;
  font-weight:700;
  color:#fff;
  border-radius:3px;
  background:linear-gradient(to bottom,#59d0f8 5%,#49c0e8 100%);
  cursor:pointer
}
#button:hover {
  background:linear-gradient(to bottom,#49c0e8 5%,#59d0f8 100%)
}
input[type=text] {
  margin-top:5px;
  margin-bottom:20px;
  width:96%;
  border-radius:5px;
  border:0;
  padding:5px 0
}
#name {
  padding-left:10px
}
input[type=submit] {
  width:40%;
  border:1px solid #59b4d4;
  background:#0078a3;
  color:#eee;
  padding:3px 0;
  border-radius:5px;
  margin: 0 auto;
  cursor:pointer;
  display: inline-block;
}
input[type=submit]:hover {
  border:1px solid #666;
  background:#555;
  color:#fff
}
.ui-dialog .ui-dialog-content {
  padding:2em;
}
div.container {
  width:960px;
  height:610px;
  margin:50px auto;
  font-family:'Droid Serif',serif;
  position:relative
}
div.main {
  width:320px;
  margin-top:35px;
  float:left;
  padding:10px 55px 25px;
  background-color:rgba(204,204,191,0.51);
  border:15px solid #fff;
  box-shadow:0 0 10px;
  border-radius:2px;
  font-size:13px;
  text-align:center
}
div.ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix {
  display:none;
}

/*best times page*/

#mask {
  z-index: 10;
  background-color: #1F1F1F;
  opacity: .7;
  height: 100%;
  width: 100%;
  position: absolute;
  margin-top: none;
  display: block;
  margin-left: 230px;
  overflow: hidden;
  height: 600px;
  width: 800px;
}

#best-times {
  z-index: 20;
  display: block;
  position: absolute;
  width:200px;
  height: 365px;
  margin-top: 35px;
  margin-left: 310px;
  float:left;
  padding:0px 25px;
  background-color: rgba(204,204,191,0.8);
  border-radius:20px;
  text-align:center;
  overflow: auto;
  line-height: 10px;
}

#best-times hr {
  color: red;
  margin: -5px;
}

#best-times h1 {
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 10px;
}
#best-times h2 {
  padding: 0;
  margin: 20px auto;
}
#best-times p {
  letter-spacing: 1px;
  line-height: 10px;
  color: RGBA(185, 32, 37, 1);
  font-size:13px;
}
.player-name {
  font-size:18px;
  float: left;
  letter-spacing: 1px;
  line-height: 10px;
}
.player-time {
  float: right;
  font-size: 16px;
}
.player-row {
  margin: 0 auto;
}

/*.player-s {
  float: right;
}*/