<!DOCTYPE html>
<html>
<head>
  <title>REINCARNAGE</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Including CSS & jQuery Dialog UI Here-->
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/ui-darkness/jquery-ui.css" rel="stylesheet">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
  <script src="js/dialog.js" type="text/javascript"></script>
</head>
<body>
  <div id="dialog" title="Save Your Game Time">
    <form action="" method="">
      <label>Enter Your Name:</label>
      <input id="name" name="name" type="text" maxlength="9">
      <input id="submit" type="submit" value="Save Time">
      <input id="cancel" type="submit" value="Cancel">
    </form>
  </div>
  <%= yield %>
</body>
</html>
